autopep8==1.4.4
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==2.0.12
Click==7.0
CurrencyConverter==0.17.9
Flask==1.1.1
Flask-DebugToolbar==0.13.1
forex-python==1.5
idna==3.4
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycodestyle==2.5.0
requests==2.26.0
simplejson==3.19.1
urllib3==1.26.16
Werkzeug==0.16.0
gunicorn==19.7.1