body{
    background-image: url("https://img.freepik.com/premium-vector/bright-gradient-transition-from-pink-blue-pinkblue-background_578229-49.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}