<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body{
    background-image: url("https://img.freepik.com/premium-vector/bright-gradient-transition-from-pink-blue-pinkblue-background_578229-49.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
    </style>
    <title>Document</title>
</head>
<body>

    <!-- NAVBAR -->
    <!-- <section>
        <nav class="navbar">
            <div class="container-lg">
              <a class="navbar-brand text-dark ms-3 fs-4" href="#">Gift Converter</a>
            </div>
          </nav>
    </section> -->

    {% block content %} {% endblock %}

    <!-- FOOTER -->
    <section>
        <div class="fixed-bottom text-light text-center py-2">Copyright © 2023 TikTok Diamond Converter. Created by  
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://www.linkedin.com/in/johanfortus/">Johan Fortus</a>
        </div>
    </section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>